<%= form_for(@shopping) do |f| %>
  <% if @shopping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping.errors.count, "error") %> prohibited this shopping from being saved:</h2>

      <ul>
      <% @shopping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
