<%= form_for(@keyword) do |f| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% @keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :keyword %><br />
    <%= f.text_area :keyword %>
  </div>
  <div class="field">
    <%= f.label :id_campania %><br />
    <%= f.number_field :id_campania %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
