<%= form_for(@inscription) do |f| %>
  <% if @inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
      <% @inscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :validation_code %><br />
    <%= f.text_field :validation_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
