<!doctype html>
<html lang="es">
<head>
	<link rel="stylesheet" href="/stylesheets/app.css">
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<meta charset="utf-8">
  <meta content="<%= @title %>" property="og:title">
  <meta content="website" property="og:type">
  <meta content="http://klou.co" property="og:url">
  <meta content="/images/logo-250x250-1.jpg" property="og:image">
  <meta content="/images/logo-250x250-2.jpg" property="og:image">
  <meta content="Klou" property="og:site_name">
  <meta content="<%= @descrip %>" property="og:description">
  <meta content="<%= @title %> - <%= @descrip %>" name="title">
  <meta content="<%= @descrip %>" name="description">
  <meta content="Google Cloud Engine, Pass, Klou, Ruby, Padrino, Sinatra, Rails, Deployment" name="keywords">
  <meta content="Kreattiewe" name="author">
  <meta content="index, follow" name="robots">
</head>
<body class="landing">
	<%= yield %>
</body>
</html>